<% if user_signed_in? %>
    <ul class="thumbnails">
      <li class="span3 ga-image-gallery">
        <% unless @photos.blank? %>
            <% @photos.each do |photo| %>
                <%= image_tag "#{photo}", :class => "img-rounded", :width => 50 %>
            <% end %>
        <% end %>
      </li>
    </ul>
<% end %>