<% @templates.each do |f| %>
    <canvas class="ga-tmpl" id='<%= f.title.downcase %>' width="<%= f.width %>" height="<%= f.height %>" onclick="draw_template('<%= f.id %>')">
      Your browser does not support the HTML5 canvas tag.
    </canvas>
<% end %>
<div id="templ-container">

</div>