<canvas class="ga-tmpl" id="template1" width="200" height="100" onclick="draw_template('onet')">
  Your browser does not support the HTML5 canvas tag.
</canvas>


<div class="pagination pagination-mini">
  <ul>
    <li><a href="#">Prev</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">Next</a></li>
  </ul>
</div>

<div id="templ-container" style="display: none">
  <%= render "home/template" %>
</div>