<canvas class="ga-tmpl" id="template1" width="200" height="100" onclick="draw_template('onet')">
  Your browser does not support the HTML5 canvas tag.
</canvas>


<div class="ga-main-div">
  <canvas id="main-canvas" width="800" height="450">
    Your browser does not support the HTML5 canvas tag.
  </canvas>

</div>
