@import "primary.css.scss";

.ga-filled-label {
  background: none repeat scroll 0 0 lightgreen;
  font-weight: bold;
  height: 25px;
  line-height: 26px;
  text-align: center;
  width: 100px;
}

span.error {
  color: red;
  font-size: 12px;
  margin-left: 10px;
}