body {
  background: url("/assets/bg_noise-0af71b3ff077b9b82393ca66466abb80.jpg") repeat scroll left top #EFEFEF;
}

.ga-image-gallery {
  float: left;
}

.ga-image-gallery img {
  cursor: pointer;
}

@mixin ga-single-border {
  border: 1px solid #d3d3d3;
}

@mixin ga-double-border {
  border: 2px solid #d3d3d3;
}

.ga-main-div {
  @include ga-double-border;
  width: 800px;
  height: 450px;
}

.ga-tmpl {
  @include ga-single-border;
  cursor: pointer;
}

.ga-slider {
  width: 200px;
}

.ga-shadow {
  background-color: black;
  position: absolute;
  opacity: 0.4;
}